<div class="who-bg">
  <div class="who_circle">
    <h1>Who We Are...</h1>
    <p>Unexo India –‘Unique Exchange of Opportunity’ is an organization founded to provide employment opportunities to
      individuals who are struggling for an opportunity to start their career in their respective field. Our company is
      a leader in consulting, digital transformation, technology and engineer services. The group is at the forefront of
      innovation to address the entire breadth of client’s opportunities in the evolving world of digital technology.
    </p>
  </div>
</div>
<!-- <section class="who_main">
  <h2>WHAT WE DO...</h2>
  <p>• Digital learning strategy - Our people are being readied to lead in digital world. Today, UNEXO in India
    professionals recognize how digital technologies are enabling large organizational transformations and how UNEXO
    digital solutions can support organizations through a digital future.</p>

  <p> • Healthcare - UNEXO offers a range of medical insurance options to meet your needs as well as prescription drug
    coverage, health care flexible spending account, and dependent day care flexible accounts.</p>

  <p>• Technology - UNEXO in India is a leading provider of Tax, and Advisory services to companies in the Indian
    Technology industry.</p>
  <p> • Media - Press Releases , Media Coverage, Product Stories, Gallery, Media Contact.</p>

  <p> • Insurance policy - The Company makes available group accidental & death insurance coverage for employees. This
    is
    only for Regular/Confirmed Employees.</p>

  <p> • Consulting - Our consulting team are deep industry and process experts who don’t just advise they build,
    implement
    and operate real and effective digital solutions.</p>

  <p>• Explore opportunities :Graduates, Experienced professionals, Students/ internship, Explore opportunities by
    location.</p>
</section>
<div class="who-bg collab">
  <div class="who_circle collab-circle">
    <h1>Collaboration</h1>
    <p>UNEXO is proud to have been and continues to be a part of numerous partnerships & joint ventures. These
      partnerships have helped the company grow and have surely benefitted the industry by paving the path for
      innovations as well as multi-faceted development models. By way of risk-reward sharing & similar unconventional
      partnership structures, HCL has played a pivotal role in fostering an environment of transformation and
      community-based engagements.</p>
  </div>
</div> -->
