<div class="corporate-bg">
  <h1>Corporate Information</h1>
</div>
<div class="corporate_main">
  <div class="corporate-main-info">
    <h2>Investor</h2>
    <h3>
      Concept
    </h3>
    <p>Investors play a major and vital role in the success and growth of
      a company. Because of the fac, it’s of the utmost important for companies
      to maintain strong, transparent relationships with investors. This is where
      the investor relation department of a company coms int play. To make them Relay
      on information what official website of company shows, this input helps us initiate.</p>
    <h3>
      Register and upload their data
    </h3>
    <p> Adding to this its most important to offer 1levish platform to
      the investor who is seeking to grow up along with us, we need to work on page where we
      offer allow them to add points and suggestions according. Meanwhile it will be a great
      success if we add 1 tab and open platform for our investor to register and upload their
      data subject to performance of them and company level.</p>
  </div>
</div>
<section class="consulting-services">
  <div class="row">

    <div class="col-md-8">
      <div class="consulting-services-question">
        <h2>Need a consulting services?</h2>
        <p>The automated process starts as soon as your clothes go
          into the machine.</p>
      </div>

    </div>
    <div class="col-md-4">
      <div class="consulting-services-btn">
        <a href="#"><input type="button" value="Make an Appointment" id="reg_button1"></a><br><br>
        <b><i class="fas fa-phone"></i> (89) 673
          378-309</b>
      </div>
    </div>
  </div>

</section>
