<div class="unexo__frame">
  <div class="unexo__header--bg1"></div>
  <div class="unexo__candidate">
    <div class="unexo__candidate--background"></div>
  </div>
  <div class="unexo__frame--right-content">
    <h3>Welcome Brilliance</h3>
    <p>
      Optimized Integration <br />
      Smarter Processing <br />
      Greater Compliance
    </p>

    <button class="unexo__primary--btn" type="button">Join Our Team</button>
  </div>
</div>
<div class="row vision_mission">
  <div class="col-10 mx-auto">
    <h2 class="text-left pt-5">TRANSFORM WITH BRILLIANCE</h2>
    <p>
      Transforming business with technology is our forte.No matter whether you
      are small or big, young or mature , we have got your back with our bespoke
      solutions.
    </p>

    <div class="row">
      <div class="col-md-6">
        <h3>Vision</h3>
        <p>
          <b>
            Generating employment opportunities for young people. The goal of
            our organization is to generate opportunities for decent employment
            and entrepreneurship.
          </b>
          <br /><br />

          Our vision has structured around following fundamental activities:
          <br />

          Innovation is our cornerstone; Standing out to be among the top
          innovative product companies in the Financial technology domain in
          every market that we operate.
          <br />
        </p>
      </div>
      <div class="col-md-6">
        <h3>Mission</h3>
        <p>
          <b>
            Generating employment opportunities for young people. The goal of
            our organization is to generate opportunities for decent employment
            and entrepreneurship.
          </b>
          <br /><br />

          Our vision has structured around following fundamental activities:
          <br />

          Innovation is our cornerstone; Standing out to be among the top
          innovative product companies in the Financial technology domain in
          every market that we operate.
          <br />
          <br />
          <br />
          <br />
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row accomplishments">
  <div class="col-10 mx-auto text-center">
    <h3>Accomplishments For Our Innovations</h3>
    <p>
      "After all the hard work, sacrifices, sleepless nights, rigorous tests,
      failures, and moving one step ahead at a time to build better financial
      solutions, it feels- it's worth it."
    </p>
    <p>Experience Brilliance.</p>
    <div class="row">
      <div class="col-md-4">
        <div class="accm_box">
          <img src="../../../assets/Icons/achieve4.27063e0.png" />
          <h4>CIO Award</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="accm_box">
          <img src="../../../assets/Icons/achieve3.1fb607e.png" />
          <h4>Startup of year Award</h4>
        </div>
      </div>
      <div class="col-md-4">
        <div class="accm_box">
          <img src="../../../assets/Icons/achieve2.7191712.png" />
          <h4>Axilor</h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row members">
  <div class="col-10 p-5 mx-auto">
    <div class="row">
      <div class="col-lg-4 p-4">
        <div class="row">
          <div class="col-12">
            <h4>Meet Our Team</h4>
            <p>
              Our crew is a canny lot, forever on the prowl for 'the new'. A
              high-powered combination of Industry stalwarts with numerous years
              of experience in the fields of Technology & Finance & a team of
              young minds pacing with zeal evidently ends up with brilliant
              outcomes.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 p-4">
        <div class="row">
          <!-- founder and ceo -->
          <div class="col-12">
            <h4 class="members_heading">Founder & CEO</h4>
          </div>
          <div class="col-md-4">
            <div class="emp_box">
              <div class="in">
                <img src="../../../assets/images/team3.png" />
                <h6>Rajveer Sourya</h6>
                <p>Founder & Director</p>
              </div>
              <p>
                2+ decades of Enterprise technology, a serial entrepreneur & a
                visionary. Rajveer's ideas spin around transformation with
                technology.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="emp_box">
              <div class="in">
                <img src="../../../assets/images/team3.png" />
                <h6>Saurav Singh</h6>
                <p>CEO</p>
              </div>
              <p>
                2+ decades of Enterprise technology, a serial entrepreneur & a
                visionary. Saurav's ideas spin around transformation with
                technology.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="emp_box">
              <div class="in">
                <img src="../../../assets/images/team2.png" />
                <h6>Mrunal Mehta</h6>
                <p>CEO</p>
              </div>
              <p>
                2+ decades of Enterprise technology, a serial entrepreneur & a
                visionary. Mrunal's ideas spin around transformation with
                technology.
              </p>
            </div>
          </div>

          <!-- on ground athletes -->
          <div class="col-12 pt-2">
            <h4 class="members_heading">On Ground Athletes</h4>
          </div>
          <div class="col-md-4">
            <div class="emp_box">
              <div class="in">
                <img src="../../../assets/images/team4.png" />
                <h6>Shweta Mane</h6>
                <p>Product & Tech</p>
              </div>
              <p>
                2+ decades of Enterprise technology, a serial entrepreneur & a
                visionary. Shweta's ideas spin around transformation with
                technology.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="emp_box">
              <div class="in">
                <img src="../../../assets/images/team3.png" />
                <h6>Shivam Dube</h6>
                <p>Java Developer</p>
              </div>
              <p>
                2+ decades of Enterprise technology, a serial entrepreneur & a
                visionary. Shivam's ideas spin around transformation with
                technology.
              </p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="emp_box">
              <div class="in">
                <img src="../../../assets/images/team2.png" />
                <h6>Mrunal Mehta</h6>
                <p>Java Developer</p>
              </div>
              <p>
                2+ decades of Enterprise technology, a serial entrepreneur & a
                visionary. Mrunal's ideas spin around transformation with
                technology.
              </p>
            </div>
          </div>

          <div class="col-md-4 pt-2">
            <div class="emp_box">
              <div class="in">
                <img src="../../../assets/images/team3.png" />
                <h6>Vinod Suthar</h6>
                <p>Graphic Designer</p>
              </div>
              <p>
                2+ decades of Enterprise technology, a serial entrepreneur & a
                visionary. Vinod's ideas spin around transformation with
                technology.
              </p>
            </div>
          </div>
          <div class="col-md-4 pt-2">
            <div class="emp_box">
              <div class="in">
                <img src="../../../assets/images/team4.png" />
                <h6>Sneha Mane</h6>
                <p>HR & Admin</p>
              </div>
              <p>
                2+ decades of Enterprise technology, a serial entrepreneur & a
                visionary. Sneha's ideas spin around transformation with
                technology.
              </p>
            </div>
          </div>
          <div class="col-md-4 pt-2">
            <div class="emp_box">
              <div class="in">
                <img src="../../../assets/images/team2.png" />
                <h6>Mrunal Mehta</h6>
                <p>Python Developer</p>
              </div>
              <p>
                2+ decades of Enterprise technology, a serial entrepreneur & a
                visionary. Mrunal's ideas spin around transformation with
                technology.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
