<div class="main-bg">
  <h1>Opportunity</h1>
</div>
<!--? Want To work -->
<section class="opportunity_main">
  <h2>Explore Opportunities for Candidates</h2><br><br>
  <h3>Graduates, Experienced professionals, Students/
    internship, Explore opportunities by location</h3>
  <p>Here we provide all kinds of jobs regardless of what
    educational background candidate has. In every aspect of job field, we provide jobs. </p><br>

  <h3>1. All types of job:</h3>
  <p>Looking to hire a large number of candidates. We have jobs for
    all kind of people of different educational background.</p><br>

  <h3>2. Different Fields:</h3>
  <p>Technical or Non-Technical</p><br>

  <h3>3. UNEXO in India's online job application system:</h3>
  <p>Working at UNEXO in India means you'll have the
    opportunity to expand your global mindset, through international career opportunities and have access to
    world class learning and development tools while working alongside some of the brightest minds in
    business, addressing complex issues and making a difference.</p><br>
</section>

<section class="office-environment">
  <div class="office-environment-text">
    <h2 class="mb-30">Office <br>Environment</h2>
    <p>The automated process starts as soon as
      your clothes go into the machine. Duis cursus, mi quis
      viverra ornare, eros dolor interdum nulla, ut commodo
      diam libero vitae erat. Aenean faucibus nibh et justo
      cursus id rutrum lorem imperdiet. Nunc ut sem vitae
      risus tristique posuere.</p>

    <p>Interdum nulla, ut commodo diam libero vitae erat.
      Aenean faucibus nibh et justo cursus id rutrum lorem
      imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
  </div>
</section>
