input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea {
  box-shadow: 0 0 0 30px white inset !important ;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
