<div class="unexo__frame">
  <div class="unexo__header--bg1"></div>
  <div class="unexo__candidate">
    <div class="unexo__candidate--background"></div>
  </div>
  <div class="unexo__frame--right-content">
    <h3>We Embrace Innovation And Excellence</h3>
    <p>
      If you are lookin for high velocity action packed, full throttle <br />
      environment you are at the right page.Our radius is unlimited and our team
      <br />
      is a combo of experienced and novice where everybody has their own place
    </p>

    <button class="unexo__primary--btn" type="button">Know About Us</button>
  </div>
</div>
<div class="row vision_mission">
  <div class="col-10 mx-auto">
    <p class="text-center">
      Transforming business with technology is our forte.No matter whether you
      are small or big, young or mature , we have got your back with our bespoke
      solutions.
    </p>

    <div class="row">
      <div class="col-md-8" style="height: 65rem">
        <img
          src="../../../assets/friends-enjoying-rooftop-party.jpg"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-md-4" style="height: 65rem">
        <img
          src="../../../assets/decorated-wedding-hall-with-candles-round-tables-centerpieces.jpg"
          alt=""
          srcset=""
        />
        <br />
        <br />
        <img
          src="../../../assets/celebratory-toast-office-party.jpg"
          alt=""
          srcset=""
        />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="vision_test-box">Leaders in Tax Technology</div>
        <div class="vision_test-box">Award Winning Culture</div>
        <div class="vision_test-box">Meaningful Work</div>
        <div class="vision_test-box">Year Over Year Growth</div>
      </div>
      <div class="col-md-6">
        <div class="vision_test-box">Fortune 500 customers</div>
        <div class="vision_test-box">Energized Environment</div>
        <div class="vision_test-box">Respect for Diversity</div>
        <div class="vision_test-box">Robust Philanthropy Programme</div>
      </div>
    </div>
    <br />
    <br />
    <br />
  </div>
</div>
<div class="row accomplishments">
  <div class="col-10 mx-auto text-center">
    <h3>With Us Aim High!</h3>
    <p>
      "Want to learn? we give you mentoring.Want to explore?We give you
      platform.Want to grow? We give you roadmap. Make one of the best decisions
      of your career - join us."
    </p>
    <div class="row">
      <div class="col-md-3">
        <div class="accm_box">
          <img src="../../../assets/Icons/perk-1.45cafe0.png" />
          <h4>
            Hierarchy is only on papers.We welcome your ideas and value you as
            an individual, team player, and visionary professional
          </h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="accm_box">
          <img src="../../../assets/Icons/perk-2.ef6c71b.png" />
          <h4>
            We empower individuals to become the next leaders. Want to become
            one? We have arms open.
          </h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="accm_box">
          <img src="../../../assets/Icons/perk-3.f176dd7.png" />
          <h4>
            We celebrate even the tiniest wins. Be it weekly, monthly or yearly
            we make sure you recieve the recognition you deserve.
          </h4>
        </div>
      </div>
      <div class="col-md-3">
        <div class="accm_box">
          <img src="../../../assets/Icons/perk-4.a4b4790.png" />
          <h4>
            We embrace diversity.Our mindset,approach, & hiring process
            everything is very open, honest, & well-communicated.
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row members">
  <div class="col-10 p-5 mx-auto">
    <div class="row">
      <div class="col-lg-4 p-4">
        <div class="row">
          <div class="col-12">
            <h4>We are Hiring!</h4>
            <p>
              Swipe your eyes to the right to make everything in your career
              bright.Find the right pick for you to work with the most ambitious
              and innovative IT solutions company.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-8 p-4">
        <div class="row">
          <!-- founder and ceo -->
          <div class="col-12">
            <h4 class="members_heading">Current Openings</h4>
            <br />
            <div class="emp_box">
              <div class="in">
                <h6 class="text-left">Java Developer</h6>
              </div>
              <p>
                We are looking for candidate who is expertise in java with
                knowledge of atleast one framework.The incubent must hold good
                experience.
              </p>
            </div>
            <br />
            <div class="emp_box">
              <div class="in">
                <h6 class="text-left">Python Developer</h6>
              </div>
              <p>
                We are looking for candidate who is expertise in java with
                knowledge of atleast one framework.The incubent must hold good
                experience.
              </p>
            </div>
            <br />
            <div class="emp_box">
              <div class="in">
                <h6 class="text-left">Angular Developer</h6>
              </div>
              <p>
                We are looking for candidate who is expertise in java with
                knowledge of atleast one framework.The incubent must hold good
                experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
