<!-- <div class="who-bg">
  <div class="who_circle" style="padding: 6rem;">
    <h1>Purpose...</h1>
    <p style="line-height: 2;">UNEXO is an organization which helps in unemployment of people. It helps those people
      who doesn't have jobs.
      There main focus is to provide much needed and reasonable jobs to the candidates</p>
  </div>
</div> -->
<div class="row">
  <div class="col-lg-6">
    <div class="what_main-img">
      <img src="../../../assets/images/purpose.jpg" alt="Purpose">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="what_main-info">
      <h2>What We Do?</h2>
      <p>Our company is a start-up company whose main aim is to generate employment for an individual who completed
        their education but is still struggling for a job. By providing a suitable job which suits their profile we help
        them to build their career which enhances their capability to grow better in the corporate sector.</p>
    </div>
  </div>

</div>
<!-- <div class="who-bg collab">
  <div class="who_circle ">
    <h1>Explore Opportunities...</h1>
    <p>When you join UNIXO, you’ll collaborate with some of the most talented and innovative people in the profession,
      across all areas of our business and all organizational levels and functions, to bring our strategy to life every
      day.</p>
  </div>
</div> -->
