<div class="training-bg">
  <h1>Training</h1>
</div>
<div class="corporate_main">
  <div class="corporate-main-info">
    <h2>Our Philosophy</h2>
    <p>
      Our
      Philosophy
      The automated process starts as soon as your clothes go into the machine. Duis cursus, mi quis viverra ornare,
      eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
      imperdiet. Nunc ut sem vitae risus tristique posuere.</p>

    <p>Interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem
      imperdiet.
      Nunc ut sem vitae risus tristique posuere.

      CEO, Consulto

    </p>
    <b>Capcilena Hanry</b>
  </div>
</div>

<section class="expert_consultants">
  <h2>Expert Consultants</h2>
  <div class="row">
    <div class="col-md-3">
      <div class="expert_consultants-section">
        <div class="expert_consultants-section-img">
          <img src="../../../assets/images/team1.png" alt="team">
        </div>
        <h3>Jackia chouhan</h3>
        <p>senior consultant</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="expert_consultants-section">
        <div class="expert_consultants-section-img">
          <img src="../../../assets/images/team2.png" alt="team">
        </div>
        <h3>Jackia chouhan</h3>
        <p>senior consultant</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="expert_consultants-section">
        <div class="expert_consultants-section-img">
          <img src="../../../assets/images/team3.png" alt="team">
        </div>
        <h3>Michael Frade</h3>
        <p>senior consultant</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="expert_consultants-section">
        <div class="expert_consultants-section-img">
          <img src="../../../assets/images/team4.png" alt="team">
        </div>
        <h3>Kalisha Milano</h3>
        <p>senior consultant</p>
      </div>
    </div>

  </div>
</section>
<section class="office-environment">
  <div class="office-environment-text">
    <h2 class="mb-30">Office <br>Environment</h2>
    <p>The automated process starts as soon as
      your clothes go into the machine. Duis cursus, mi quis
      viverra ornare, eros dolor interdum nulla, ut commodo
      diam libero vitae erat. Aenean faucibus nibh et justo
      cursus id rutrum lorem imperdiet. Nunc ut sem vitae
      risus tristique posuere.</p>

    <p>Interdum nulla, ut commodo diam libero vitae erat.
      Aenean faucibus nibh et justo cursus id rutrum lorem
      imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
  </div>
</section>
<section class="consulting-services">
  <div class="row">
    <div class="col-md-8">
      <div class="consulting-services-question">
        <h2>Need a consulting services?</h2>
        <p>The automated process starts as soon as your clothes go
          into the machine.</p>
      </div>

    </div>
    <div class="col-md-4">
      <div class="consulting-services-btn">
        <a href="#"><input type="button" value="Make an Appointment" id="reg_button1"></a><br><br>
        <b><i class="fas fa-phone"></i> (89) 673
          378-309</b>
      </div>
    </div>
  </div>

</section>
