<div class="consulting-bg">
  <h1>Unexo India Platform</h1>
</div>
<div class="row">
  <div class="offset-sm-2"></div>
  <div class="col-sm-8" style="font-size: 1.6rem">
    <br />
    <br />
    <h1 style="font-size: 3rem; font-weight: 700">Unexo India Platform:</h1>
    <br />
    <ul>
      <li>
        <b>
          UNEXO is a platform created under its parent OBOCOW and has various
          subsidiary functions provides services and facilitates many different
          aspects of our social life – creating jobs, gig economy, health
          services, education, food & beverage in addition to creating many
          opportunities for its global members.</b
        >
      </li>
      <br />
      <li>
        <b>
          In addition to having a virtual/digital platform, UNEXO will also have
          a physical office presence in each city and most rural towns to
          encourage membership and create a community of people helping other
          people with the assistance of our team or government assistance when
          required and available. This “phygital” (Physical plus Digital)
          environment combines the best of both cyber and brick-mortar
          environments.</b
        >
      </li>
      <br />

      <li>
        <b
          >UNEXO Education and Healthcare become crucial services for the
          society at large while Café and Entertainment are secondary aspects
          for the enjoyment and networking of members that require physical
          contact.</b
        >
      </li>
      <br />

      <li>
        <b>
          This is a venture philanthropy that shares much of its profits to
          benefit the vulnerable and least advantaged people, giving them a leg
          up to join the middle class of the populace.</b
        >
      </li>
    </ul>

    <br /><br />
  </div>
  <div class="offset-sm-2"></div>
</div>
