<!-- <div class="main-bg">
  <h1>Why to join Unexo?</h1>
  <p>
    Our organization has professionals who have attained excellence in their own field. We work with international
    expertise who guides the employee in their field to achieve their goal and perform better. We provide a world class
    working environment to our employees.
  </p>
</div> -->
<div class="row">
  <div class="col-lg-6">
    <div class="what_main-img">
      <img src="../../../assets/images/purpose.jpg" alt="Purpose">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="what_main-info">
      <h2>Why to join Unexo?</h2>
      <p>Our organization has professionals who have attained excellence in their own field. We work with international
        expertise who guides the employee in their field to achieve their goal and perform better. We provide a world
        class
        working environment to our employees.</p>
    </div>
  </div>

</div>
