<div class="row">
  <div class="col-lg-6">
    <div class="what_main-img">
      <img src="../../../assets/images/purpose.jpg" alt="Purpose" />
    </div>
    <div class="what_main-img">
      <img src="../../../assets/images/skills.jpeg" alt="Purpose" />
    </div>
    <div class="what_main-img">
      <img src="../../../assets/images/consulting.jpeg" alt="Purpose" />
    </div>
  </div>
  <div class="col-lg-6">
    <div class="what_main-info">
      <h2>Vision</h2>
      <p>
        Generating employment opportunities for young people. The goal of our
        organization is to generate opportunities for decent employment and
        entrepreneurship. <br />
        Our vision has structured around following fundamental activities:
      </p>
      <ul style="font-size: 1.6rem">
        <li>
          Increasing young people’s ability to properly place themselves in the
          labour market.
        </li>
        <li>
          Strengthening the leadership, roots and identity of individuals and
          including them in the creation of a local development vision shared by
          community.
        </li>
        <li>
          Delivery of Products and Services which are globally competitive.
        </li>
        <li>Continuous improvement of our products, processes, and people.</li>
        <li>
          A learning organization of committed and contributing employees who
          share the competitive agenda.
        </li>
        <li>
          Continuous satisfaction of our customers, shareholders and employees.
        </li>
        <li>
          Expansion in our areas of core competency and development of new
          Competencies.
        </li>
      </ul>
      <br />
      <h2>Mission</h2>
      <p>
        Our organization will provide products and services that not only meet
        but exceed the expectation of our customers through planned and
        continuous improvement of our Services, Products, Processes and People.
        <br />
        The Mission of the Human Resources Department is to Recruit, Develop and
        Retain the High-Calibre Diverse workforce:
      </p>
      <ul style="font-size: 1.6rem">
        <li>Employee centric organization</li>
        <li>Well define policies and processes</li>
        <li>
          Premeditated induction/orientation Programme to suit individual needs
        </li>
        <li>Long term engagement with multiple project opportunities.</li>
        <li>
          Diversity in verticals/domains focus- Finance, Telecom, Technology,
          Shipping, Medical
        </li>
        <li>Well carved learning curve with performance management system</li>
        <li>Reward & Recognition</li>
        <li>
          Cross training/learning opportunities & redevelopment opportunities
        </li>
        <li>Multiple geographic location project opportunity</li>
        <li>International best practices</li>
      </ul>
      <p>Recognition</p>
      <ul style="font-size: 1.6rem">
        <li>Enhance performance by continuous learning</li>
        <li>Continuous Motivation</li>
        <li>Provide practical feedback for learning</li>
        <li>Glass door policy to address any issue or concern</li>
        <li>Culture of performance</li>
        <li>Lead employees on learning curve</li>
        <li>Reward & Recognition</li>
      </ul>
      <p>Building Commitment</p>
      <ul style="font-size: 1.6rem">
        <li>Focus- Employees are given equal opportunities</li>
        <li>Involvement- Marching together towards common goal</li>
        <li>Development- Encourage opportunities for learning and growth</li>
        <li>Gratitude- Recognize performance (formal or informal)</li>
        <li>
          Accountability- Employees are given freedom to work and outshine.
        </li>
      </ul>
    </div>
  </div>
</div>
