<div class="global-bg">
  <h1>Our Projects</h1>
</div>

<div class="row">
  <div class="offset-sm-2"></div>
  <div class="col-sm-8" style="font-size: 1.6rem">
    <br />
    <br />
    <h1 style="font-size: 3rem; font-weight: 700">Our Projects:</h1>
    <br />
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/images/UnexoLogo.png" />
          <h2>Unexo Housing</h2>
          <p>
            When you work with Unexo Housing , you are not just our client – you
            are our partner. Each and every member of our team is hand-picked
            for their diligence and integrity, and we work tirelessly to help
            you achieve your goals.
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/unexocafe.jpeg" />
          <h2>Unexo Cafe</h2>
          <p>We Serve Caffeine, Creativity & Community.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/unexohealth.jpeg" alt="unexohealth" />
          <h2>Unexo Healthcare</h2>
          <p>
            You’re on a journey to health and wellness. And we’re right there
            with you.
          </p>
        </div>
      </div>
      <!-- <div class="offset-md-4"></div> -->
      <div class="col-md-3">
        <div class="card">
          <img src="../../../assets/unexopay.jpeg" />
          <h2>Unexo Pay</h2>
        </div>
      </div>
      <!-- <div class="offset-md-4"></div> -->
    </div>

    <br /><br />
  </div>
  <div class="offset-sm-2"></div>
</div>
